body#view-demo
  section
    .content
      h1 Titulo
      p time 12:58

    figure
      .hq
        .base
          .arm
            .anthena
              img(src='images/popkern/base_anthena.png', alt='Anthena')
            img(src='images/popkern/base_arm.png', alt='Robotic Bone')
          img(src='images/popkern/base.png', alt='Formability Headquarters')

    .clouds
      .cloud.c01 img(src='images/popkern/cloud-1.png', alt='Picture of the Cloud in the sky')
      .cloud.c02 img(src='images/popkern/cloud-2.png', alt='Picture of the Cloud in the sky')
      .cloud.c03 img(src='images/popkern/cloud-1.png', alt='Picture of the Cloud in the sky')
      .cloud.c04 img(src='images/popkern/cloud-2.png', alt='Picture of the Cloud in the sky')
      .cloud.c05 img(src='images/popkern/cloud-1.png', alt='Picture of the Cloud in the sky')
      .cloud.c06 img(src='images/popkern/cloud-2.png', alt='Picture of the Cloud in the sky')